@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'YoonDokrip';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/YoonDokrip.ttf') format('truetype');
}

@font-face {
  font-family: 'YoonManse';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/YoonManse.ttf') format('truetype');
}

@font-face {
  font-family: 'YoonDaehanB';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/YoonDaehanB.ttf') format('truetype');
}

@font-face {
  font-family: 'YoonMingukB';
  
  src: url('/fonts/YoonMingukB.ttf') format('truetype');
} 

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SCDream1.otf') format('truetype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 500; 
  src: url('/fonts/SCDream2.otf') format('truetype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/SCDream3.otf') format('truetype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SCDream4.otf') format('truetype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/SCDream5.otf') format('truetype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/SCDream6.otf') format('truetype');
}

@keyframes shake {
  0% { transform: scale(1); }
  10% { transform: scale(1.01); }
  20% { transform: scale(0.99); }
  30% { transform: scale(1.01); }
  40% { transform: scale(0.99); }
  50% { transform: scale(1.01); }
  60% { transform: scale(0.99); }
  70% { transform: scale(1.01); }
  80% { transform: scale(0.99); }
  90% { transform: scale(1.01); }
  100% { transform: scale(1); }
}

.shakeAnimation {
  animation: shake 5s ease-in-out infinite;
}